/* Helpful links:
- https://developer.mozilla.org/en-US/docs/Web/CSS/system-color
- https://css-tricks.com/snippets/css/a-guide-to-flexbox/
- https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties

optimizers:
- https://svgomg.net/
- https://www.toptal.com/developers/cssminifier
- https://www.toptal.com/developers/html-minifier
- https://kangax.github.io/html-minifier/
- https://www.toptal.com/developers/javascript-minifier
- https://facia.dev/tools/compress-decompress/gzip-compress/

- https://randomnerdtutorials.com/esp32-save-data-permanently-preferences/
*/

:root {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	--clr-highlight: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin: 0;
}

#messages {
	max-width: 1100px;
	margin: 0 auto;
}

ul#chat {
	list-style: none;
    padding-left: 0;
}

ul#chat > li {
	word-wrap: break-word;
	background-color: var(--clr-highlight);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 9px;
	width: fit-content;
	padding: 0.4rem;
	margin: 0.4rem;
	border-radius: 1rem;
}

header {
	padding: 0  1rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--clr-highlight);
}

nav {
	font-size: 2rem;
	text-align: center;
}

header a {
	text-decoration: none;
	color: CanvasText;
}

#disclaimer {
	text-align: center;
}

input, textarea {
	font-size: 1rem;
}

input[type='submit'] {
}

textarea {
	width: 100%;
}

.flex {
	display: flex;
	width: 100%;
}

#formDisclaimer {
	font-size: 0.75rem;
	text-align: center;
}

label {
	text-align: center;
	font-size: 0.8rem;
}

#post {
	background-color: var(--clr-highlight);
    position: fixed;
    bottom: 0;
	width: 100%;
	padding: 0.4rem;
}

form {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}